{{$db := .}}
<!DOCTYPE html>
<html>
<head>
<title>Index</title>
</head>
<body>
<h2>Events</h2>
<table>
 <tr>
  <th>Date / Time</th>
  <th>Track</th>
 </tr>
{{range $index, $event := .Events}}
 <tr>
  <td><a href="event/{{$index}}">{{.EndTime.Format "2006-01-02 15:04:05"}}</a></td>
  <td>{{.TrackName}}</td>
 </tr>
{{end}}
</table>
<h2>Sessions</h2>
<table>
 <tr>
  <th>Name</th>
  <th>Date / Time</th>
  <th>Track</th>
  <th>Session Type</th>
 </tr>
{{range .SessionNamesSortedOnEndTime}}
    {{$session := index $db.Sessions .}}
 <tr>
  <td><a href="session/{{.}}">{{.}}</a></td>
  <td>{{$session.EndTime.Format "2006-01-02 15:04:05"}}</td>
  <td>{{$session.TrackName}}</td>
  <td>{{$session.SessionTypeString}}</td>
 </tr>
{{end}}
</table>

<h2>Players</h2>
<table>
 <tr>
  <th></th>
  <th>Name</th>
  <th># Sessions</th>
 </tr>
{{range .PlayerIdsSortedOnLastName}}
    {{$player := index $db.Players .}}
 <tr>
  <td>{{$player.MostRecentName.ShortName}}</td>
  <td><a href="player/{{.}}">{{$player.MostRecentName.FirstName}} {{$player.MostRecentName.LastName}}</a></td>
  <td>{{len $player.SessionNames}}</td>
 </tr>
{{end}}
</table>

</body>
</html>
