{{$db := .}}
<!DOCTYPE html>
<html>
<head>
<title>Index</title>
</head>
<body>
<h2>Events</h2>
<table>
 <tr>
  <th>Date / Time</th>
  <th>Track</th>
  <th>Sessions</th>
 </tr>
{{range .EventIdsSortedOnEndTime}}
    {{$event := index $db.Events .}}
 <tr>
  <td><a href="event/{{.}}">{{$event.EndTime.Format "2006-01-02 15:04:05"}}</a></td>
  <td>{{$event.TrackName}}</td>
  <td>{{range $event.Sessions}}{{if ne .SessionIndex 0}}, {{end}}{{.SessionType}}{{end}}</td>
 </tr>
{{end}}
</table>

<h2>Players</h2>
<table>
 <tr>
  <th></th>
  <th>Name</th>
  <th># Sessions</th>
 </tr>
{{range .PlayerIdsSortedOnLastName}}
    {{$player := index $db.Players .}}
 <tr>
  <td>{{$player.MostRecentName.ShortName}}</td>
  <td><a href="player/{{.}}">{{$player.MostRecentName.FirstName}} {{$player.MostRecentName.LastName}}</a></td>
  <td>{{len $player.SessionNames}}</td>
 </tr>
{{end}}
</table>

</body>
</html>
