{{$session := .Session}}
{{$car := .Car}}
<!DOCTYPE html>
<html>
<head>
<title>{{$session.TrackName}} {{$car.RaceNumber}}</title>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
</head>
<body>
<h1>{{$session.ServerName}} - {{$session.TrackName}} - Car {{$car.RaceNumber}}</h1>

<h2>Laps per cars</h2>
<h3>Car {{.Car.RaceNumber}} - {{range $index, $driver := .Car.Drivers}}{{if gt $index 0}}, {{end}}{{.FirstName}} {{.LastName}}{{end}}</h3>
<table>
 <tr>
  <th>Lap</th>
  <th>Driver</th>
  <th>Laptime</th>
  <th>Sector 1</th>
  <th>Sector 2</th>
  <th>Sector 3</th>
  <th>Valid</th>
 </tr>
    {{$lapnr := 0}}
    {{range $lap := $session.Laps}}
        {{if eq .CarId $car.CarId}}
            {{$lapnr = add $lapnr 1}}
 <tr>
  <td>{{$lapnr}}</td>
  <td>{{(index $car.Drivers .DriverIndex).ShortName}}</td>
  <td>{{laptime .Laptime}}</td>
  <td>{{laptime (index .Splits 0)}}</td>
  <td>{{laptime (index .Splits 1)}}</td>
  <td>{{laptime (index .Splits 2)}}</td>
  <td>{{if .IsValidForBest}}true{{else}}false{{end}}</td>
 </tr>
        {{end}}
    {{end}}
</table>

<canvas id="lapTimesChart" width="400" height="150"></canvas>
<script>
var ctx = document.getElementById('lapTimesChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [{{$lapnr := 0}}{{range $session.Laps}}{{if eq .CarId $car.CarId}}{{$lapnr = add $lapnr 1}}{{$lapnr}}, {{end}}{{end}}],
        datasets: [{
            label: 'Lap',
            backgroundColor: 'rgba(1, 51, 112, 1)',
            borderColor: 'rgba(1, 51, 112, 1)',
            borderWidth: 2,
            fill: false,
            data: [{{range $session.Laps}}{{if eq .CarId $car.CarId}}{{div .Laptime 1000}}, {{end}}{{end}}],
        },
        {
            label: 'Sector 1',
            backgroundColor: 'rgba(255, 0, 0, 1)',
            borderColor: 'rgba(255, 0, 0, 1)',
            borderWidth: 2,
            fill: false,
            data: [{{range $session.Laps}}{{if eq .CarId $car.CarId}}{{div (index .Splits 0) 1000}}, {{end}}{{end}}],
        },
        {
            label: 'Sector 2',
            backgroundColor: 'rgba(0, 255, 0, 1)',
            borderColor: 'rgba(0, 255, 0, 1)',
            borderWidth: 2,
            fill: false,
            data: [{{range $session.Laps}}{{if eq .CarId $car.CarId}}{{div (index .Splits 1) 1000}}, {{end}}{{end}}],
        },
        {
            label: 'Sector 3',
            backgroundColor: 'rgba(0, 0, 255, 1)',
            borderColor: 'rgba(0, 0, 255, 1)',
            borderWidth: 2,
            fill: false,
            data: [{{range $session.Laps}}{{if eq .CarId $car.CarId}}{{div (index .Splits 2) 1000}}, {{end}}{{end}}],
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
});
</script>

</body>
</html>
