body {
    background: #fafafa;
    position: relative;
}

[data-href] {
    cursor: pointer;
}

.mdl-card__table > table {
    width: 100%;
    margin: 0em;
}

.mdl-card__list > ul {
    width: 100%;
    margin: 0em;
}

.mdl-card {
    min-height: 50px;
}

.events_card {
    max-width: 500px;
}

.car_card {
    min-height: 0em;
}

.car_card .carlogo {
    display: block;
    float: left;
    height: 64px;
    margin-right: 18px
}

.car_card .carmodel {
    font-size: 16px;
    font-weight: bold;
}

.car_card .cargroup {
    margin-bottom: 0;
}

.drivers_card {
    min-height: 0em;
}

.drivers_card .mdl-card__list {
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%); */
}

.laptimes_chart_container {
    width: calc(100% - 32px);
}

.leaderboard_bestlap, .leaderboard_bestsplit {
    color: rgb(192, 0, 192);
}

.sessiontype_practice .invalidlap, .sessiontype_qualifying .invalidlap {
    color: rgb(192, 192, 192);
}

.laptimes_sessionbest {
    color: rgb(192, 0, 192);
}

.laptimes_personalbest {
    color: rgb(0, 192, 0);
}

.admin_login_error {
    color: red;
}

.sessionleaderboard img {
    max-height: 100%;
}

.sessionleaderboard .carlogo {
    width: 48px;
    padding: 6px 12px;
}

.sessionleaderboard .racenumber {
    width: 36px;
}

.sessionleaderboard .racenumber.Overall a {
    color: black;
}

.sessionleaderboard .racenumber.GT3.Overall {
    background: white; 
    color: black;
}

.sessionleaderboard .racenumber.GT4.Overall {
    background: linear-gradient(to bottom right,transparent 50%,#25265F 0) bottom right/18px 18px no-repeat, white; 
    color: black;
}

.sessionleaderboard .racenumber.Cup.Overall {
    background: linear-gradient(to bottom right,transparent 50%,#457C45 0) bottom right/18px 18px no-repeat, white; 
    color: black;
}

.sessionleaderboard .racenumber.ST.Overall {
    background: linear-gradient(to bottom right,transparent 50%,#CBB901 0) bottom right/18px 18px no-repeat, white; 
    color: black;
}

.sessionleaderboard .racenumber.ProAm a {
    color: black;
}

.sessionleaderboard .racenumber.GT3.ProAm {
    background: grey; 
    color: black;
}

.sessionleaderboard .racenumber.GT4.ProAm {
    background: linear-gradient(to bottom right,transparent 50%,#25265F 0) bottom right/18px 18px no-repeat, grey; 
    color: black;
}

.sessionleaderboard .racenumber.Cup.ProAm {
    background: linear-gradient(to bottom right,transparent 50%,#457C45 0) bottom right/18px 18px no-repeat, grey; 
    color: black;
}

.sessionleaderboard .racenumber.ST.ProAm {
    background: linear-gradient(to bottom right,transparent 50%,#CBB901 0) bottom right/18px 18px no-repeat, grey; 
    color: black;
}

.sessionleaderboard .racenumber.Am a {
    color: black;
}

.sessionleaderboard .racenumber.GT3.Am {
    background: red; 
    color: black;
}

.sessionleaderboard .racenumber.GT4.Am {
    background: linear-gradient(to bottom right,transparent 50%,#25265F 0) bottom right/18px 18px no-repeat, red; 
    color: black;
}

.sessionleaderboard .racenumber.Cup.Am {
    background: linear-gradient(to bottom right,transparent 50%,#457C45 0) bottom right/18px 18px no-repeat, red; 
    color: black;
}

.sessionleaderboard .racenumber.ST.Am {
    background: linear-gradient(to bottom right,transparent 50%,#CBB901 0) bottom right/18px 18px no-repeat, red; 
    color: black;
}

.sessionleaderboard .racenumber.Silver a {
    color: black;
}

.sessionleaderboard .racenumber.GT3.Silver {
    background: grey; 
    color: black;
}

.sessionleaderboard .racenumber.GT4.Silver {
    background: linear-gradient(to bottom right,transparent 50%,#25265F 0) bottom right/18px 18px no-repeat, grey; 
    color: black;
}

.sessionleaderboard .racenumber.Cup.Silver {
    background: linear-gradient(to bottom right,transparent 50%,#457C45 0) bottom right/18px 18px no-repeat, grey; 
    color: black;
}

.sessionleaderboard .racenumber.ST.Silver {
    background: linear-gradient(to bottom right,transparent 50%,#CBB901 0) bottom right/18px 18px no-repeat, grey; 
    color: black;
}

.sessionleaderboard .racenumber.National a {
    color: white;
}

.sessionleaderboard .racenumber.GT3.National {
    background: black; 
    color: white;
}

.sessionleaderboard .racenumber.GT4.National {
    background: linear-gradient(to bottom right,transparent 50%,#25265F 0) bottom right/18px 18px no-repeat, black; 
    color: white;
}

.sessionleaderboard .racenumber.Cup.National {
    background: linear-gradient(to bottom right,transparent 50%,#457C45 0) bottom right/18px 18px no-repeat, black; 
    color: white;
}

.sessionleaderboard .racenumber.ST.National {
    background: linear-gradient(to bottom right,transparent 50%,#CBB901 0) bottom right/18px 18px no-repeat, black; 
    color: white;
}

.admin_back {
    text-align: right;
}

.server_title {
    display: block;
}

.server_status {
    margin: 0;
    padding: 0;
}

.server_status li {
    padding-top: 12px;
    padding-bottom: 0;
    min-height: 0;
}

.server_status i {
    margin-right: 16px;
}

.server_status .server_running {
    color: rgb(0, 224, 0);
}

.server_status .server_stopping {
    color: rgb(224, 224, 0);
}

.server_status .server_stopped {
    color: rgb(224, 0, 0);
}

.server_card_actions {
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.server_card_body {
    padding-bottom: 0;
    width: calc(100% - 32px);
}

p.server_settings_summary {
    margin: 0;
    font-size: 16px;
}

.server_settings_summary .server_limit::before {
    content: " - ";
}

.server_settings_summary .server_limit ~ .server_limit::before {
    content: " / ";
}

ul.server_settings_action {
    margin: 0 0 16px;
}

ul.server_settings_action > li {
    font-size: 14px;
    min-height: 0;
    padding: 0 16px;
}

.server_settings_summary .server_event_session::before {
    content: " - ";
}

.server_settings_summary .server_event_session ~ .server_event_session::before {
    content: " / ";
}

.server_settings_body_with_columns {
    padding: 0;
    margin: 0 8px;
    width: calc(100% - 16px);
}

.server_settings_column {
    margin: 8px;
}

.server_settings_event {
    margin: 16px 0;
    padding-left: 16px;
    border-left: 5px solid rgba(0, 0, 0, 0.1);
    position: relative;
    overflow: hidden;
    transition: height 0.2s ease-out, margin 0.2s ease-out;
}

.server_settings_event.collapsed {
    margin: 0;
    border-left: 0;
    padding-left: 21px;
}

.server_settings_event_menu {
    position: absolute;
    right: 16px;
    top: 16px;
}

.slider_value {
    float: right;
    width: 32px;
}

.slider_value_time {
    float: right;
    width: 48px;
}

.slider_container {
    margin: 8px -20px 0px;
}

.server_card_settings_container {
    display: flex;
}

.card_actions {
    display: flex;
}

.card_actions_spacer {
    flex-grow: 1;
}

section h5 {
    margin: 8px 0 8px;
    overflow: hidden;
}

section h5:before, section h5:after {
    background-color: rgba(0,0,0,.1);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
}

section h5:before {
    right: 0.5em;
    width: 0px;
    margin-left: 0px;
}

section h5:after {
    left: 0.5em;
    width: 100%;
    margin-right: -100%;
}

.server_log_line {
    margin: 0;
    padding: 0;
}

.server_log_line_type_error {
    color: red;
}

.server_log_timestamp {
    padding-right: 16px;
}

.mdl-switch {
    margin-bottom: 16px;
}

.mdl-mini-footer {
    background-color: #f0f0f0;
}

.mdl-mini-footer--link-list a {
    text-decoration: underline;
}
