{{$server := .Server}}
{{template "header.inc.html" (print "Admin - " $server.Cfg.Settings.ServerName)}}

<div class="mdl-grid">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--top">
        <form method="POST">
            <div class="mdl-card__title mdl-card--border">
                <h2 class="mdl-card__title-text mdl-typography--title">{{$server.Cfg.Settings.ServerName}} - Event Settings</h2>
            </div>
            <div class="mdl-card__supporting-text">
                {{.Message}}
            </div>
            <div class="mdl-card__supporting-text mdl-grid server_settings_body_with_columns">
                <div class="mdl-cell--6-col server_settings_column">
                <!-- <div class="mdl-grid">
                    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--top"> -->
                    <section>
                        <h5>Track</h5>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <select id="track" name="track" class="mdl-textfield__input">
{{$lastcomp_series := ""}}
{{range tracks}}
    {{if ne .Competition.Series $lastcomp_series}}
        {{if ne $lastcomp_series ""}}
                                </optgroup>
        {{end}}
                                <optgroup label="{{.Competition.Series}}">
        {{$lastcomp_series = .Competition.Series}}
    {{end}}
                                    <option {{if eq .Label $server.Cfg.Event.Track}}selected{{end}} value="{{.Label}}">{{.Name}}</option>
{{end}}
                                </optgroup>
                            </select>
                            <label class="mdl-textfield__label" for="track">Track</label>
                        </div>
                    </section>
                    <section id="sessions">
                        <h5>Sessions</h5>
{{range $index, $session := $server.Cfg.Event.Sessions}}
                        <div class="server_settings_event" id="sessions[{{$index}}]">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <select id="sessions[{{$index}}].sessionType" name="sessions[{{$index}}].sessionType" class="mdl-textfield__input">
                                    <option {{if eq .SessionType "P"}}selected{{end}} value="P">Free Practice</option>
                                    <option {{if eq .SessionType "Q"}}selected{{end}} value="Q">Qualification</option>
                                    <option {{if eq .SessionType "R"}}selected{{end}} value="R">Race</option>
                                </select>
                                <label class="mdl-textfield__label" for="sessions[{{$index}}].sessionType">Session Type</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" id="sessions[{{$index}}].sessionDurationMinutes" name="sessions[{{$index}}].sessionDurationMinutes" value="{{.SessionDurationMinutes}}" pattern="[0-9]+" class="mdl-textfield__input">
                                <label for="sessions[{{$index}}].sessionDurationMinutes" class="mdl-textfield__label">Session Duration (minutes)</label>
                                <span class="mdl-textfield__error">Please enter a whole number of minutes</span>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <select id="sessions[{{$index}}].dayOfWeekend" name="sessions[{{$index}}].dayOfWeekend" class="mdl-textfield__input">
                                    <option {{if eq .DayOfWeekend 1}}selected{{end}} value="1">Friday</option>
                                    <option {{if eq .DayOfWeekend 2}}selected{{end}} value="2">Saturday</option>
                                    <option {{if eq .DayOfWeekend 3}}selected{{end}} value="3">Sunday</option>
                                </select>
                                <label class="mdl-textfield__label" for="sessions[{{$index}}].dayOfWeekend">Day of Weekend</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty">
                                <div class="slider_with_value">
                                    <div class="slider_value_time" id="sessions[{{$index}}].hourOfDay_value">{{.HourOfDay}}</div>
                                    <div class="slider_container">
                                        <input type="range" id="sessions[{{$index}}].hourOfDay" name="sessions[{{$index}}].hourOfDay" value="{{.HourOfDay}}" min="0" max="23" step="1" class="mdl-slider mdl-js-slider">
                                    </div>
                                </div>
                                <label for="sessions[{{$index}}].hourOfDay" class="mdl-textfield__label">Hour of Day</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty">
                                <div class="slider_with_value">
                                    <div class="slider_value" id="sessions[{{$index}}].timeMultiplier_value">{{.TimeMultiplier}}</div>
                                    <div class="slider_container">
                                        <input type="range" id="sessions[{{$index}}].timeMultiplier" name="sessions[{{$index}}].timeMultiplier" value="{{.TimeMultiplier}}" min="0" max="24" step="1" class="mdl-slider mdl-js-slider">
                                    </div>
                                </div>
                                <label for="sessions[{{$index}}].timeMultiplier" class="mdl-textfield__label">Time Multiplier</label>
                            </div>
                            <div class="server_settings_event_menu">
                                <button type="button" onclick="removeSession({{$index}})" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                    <i class="material-icons">clear</i>
                                </button>
                            </div>
                        </div>
{{end}}
                    </section>
                    <button type="button" onclick="addSession()" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                        Add Session
                    </button>
                </div>
                <div class="mdl-cell--6-col server_settings_column">
                    <section>
                        <h5>Delays</h5>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input type="text" id="preRaceWaitingTimeSeconds" name="preRaceWaitingTimeSeconds" value="{{$server.Cfg.Event.PreRaceWaitingTimeSeconds}}" pattern="[0-9]+" class="mdl-textfield__input">
                            <label for="preRaceWaitingTimeSeconds" class="mdl-textfield__label">Pre-Race Waiting Time (seconds)</label>
                            <span class="mdl-textfield__error">Please enter a whole number of seconds</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input type="text" id="sessionOverTimeSeconds" name="sessionOverTimeSeconds" value="{{$server.Cfg.Event.SessionOverTimeSeconds}}" pattern="[0-9]+" class="mdl-textfield__input">
                            <label for="sessionOverTimeSeconds" class="mdl-textfield__label">Session Over Time (seconds)</label>
                            <span class="mdl-textfield__error">Please enter a whole number of seconds</span>
                        </div>
                        <!-- <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input type="text" id="postQualySeconds" name="postQualySeconds" value="$server.Cfg.Event.PostQualySeconds" pattern="[0-9]+" class="mdl-textfield__input">
                            <label for="postQualySeconds" class="mdl-textfield__label">Post Qualification Time (seconds)</label>
                            <span class="mdl-textfield__error">Please enter a whole number of seconds</span>
                        </div> -->
                        <!-- <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input type="text" id="sessionOverTimeSeconds" name="postRaceSeconds" value="$server.Cfg.Event.PostRaceSeconds" pattern="[0-9]+" class="mdl-textfield__input">
                            <label for="postRaceSeconds" class="mdl-textfield__label">Post Race Time (seconds)</label>
                            <span class="mdl-textfield__error">Please enter a whole number of seconds</span>
                        </div> -->
                    </section>
                    <section>
                        <h5>Weather</h5>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input type="text" id="ambientTemp" name="ambientTemp" value="{{$server.Cfg.Event.AmbientTemp}}" pattern="[0-9]+" class="mdl-textfield__input">
                            <label for="ambientTemp" class="mdl-textfield__label">Ambient Temperature (&deg;C)</label>
                            <span class="mdl-textfield__error">Please enter a whole number of degrees</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty">
                            <div class="slider_with_value">
                                <div class="slider_value" id="cloudLevel_value">{{$server.Cfg.Event.CloudLevel}}</div>
                                <div class="slider_container">
                                    <input type="range" id="cloudLevel" name="cloudLevel" value="{{$server.Cfg.Event.CloudLevel}}" min="0" max="1" step="0.1" class="mdl-slider mdl-js-slider">
                                </div>
                            </div>
                            <label for="cloudLevel" class="mdl-textfield__label">Cloud Level</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty">
                            <div class="slider_with_value">
                                <div class="slider_value" id="rain_value">{{$server.Cfg.Event.Rain}}</div>
                                <div class="slider_container">
                                    <input type="range" id="rain" name="rain" value="{{$server.Cfg.Event.Rain}}" min="0" max="1" step="0.1" class="mdl-slider mdl-js-slider">
                                </div>
                            </div>
                            <label for="rain" class="mdl-textfield__label">Rain</label>
                            <span class="mdl-textfield__error">Please enter a value between 0 and 1</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty">
                            <div class="slider_with_value">
                                <div class="slider_value" id="weatherRandomness_value">{{$server.Cfg.Event.WeatherRandomness}}</div>
                                <div class="slider_container">
                                    <input type="range" id="weatherRandomness" name="weatherRandomness" value="{{$server.Cfg.Event.WeatherRandomness}}" min="0" max="7" step="1" class="mdl-slider mdl-js-slider">
                                </div>
                            </div>
                            <label for="weatherRandomness" class="mdl-textfield__label">Weather Randomness</label>
                            <span class="mdl-textfield__error">Please enter a whole number between 0 and 7</span>
                        </div>
                    </section>
                </div>
            </div>
            <div class="mdl-card__actions mdl-card--border card_actions">
                <div class="card_actions_left">
                    <button type="submit" name="save" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Save
                    </button>
                </div>
                <div class="card_actions_spacer"></div>
                <div class="card_actions_right">
                    <button type="button" name="cancel" onclick="window.location.href='{{basePath}}/admin/server'" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
function linkSliderToValue(slider_id, value_id, formatter = null)
{
    let slider = document.getElementById(slider_id);
    let value = document.getElementById(value_id);
    let update = function() {
        newValue = slider.value;
        if (formatter != null)
            newValue = formatter(newValue);
        value.innerHTML = newValue;
    };
    slider.addEventListener("input", update);
    update();
}

function formatSingleDigit(value)
{
    return Number.parseFloat(value).toFixed(1);
}

function formatHour(value)
{
    return Number.parseInt(value).toString().padStart(2, '0') + ':00';
}

function formatMultiplier(value)
{
    return Number.parseInt(value).toString() + 'x';
}

linkSliderToValue('cloudLevel', 'cloudLevel_value', formatSingleDigit);
linkSliderToValue('rain', 'rain_value', formatSingleDigit);
linkSliderToValue('weatherRandomness', 'weatherRandomness_value');
{{range $index, $session := $server.Cfg.Event.Sessions}}
    linkSliderToValue('sessions[{{$index}}].hourOfDay', 'sessions[{{$index}}].hourOfDay_value', formatHour);
    linkSliderToValue('sessions[{{$index}}].timeMultiplier', 'sessions[{{$index}}].timeMultiplier_value', formatMultiplier);
{{end}}

function removeSession(index)
{
    let el = document.getElementById("sessions[" + index + "]");

    var sectionHeight = el.scrollHeight;
    var elementTransition = el.style.transition;
    el.style.transition = '';
    requestAnimationFrame(function() {
        el.style.height = sectionHeight + 'px';
        el.style.transition = elementTransition;
        requestAnimationFrame(function() {
            el.style.height = 0 + 'px';
            el.classList.add("collapsed");

            el.addEventListener('transitionend', function() {
                el.remove();
            });
        });
    });
}

var nextSessionId = {{len $server.Cfg.Event.Sessions}};

function addSession() {
    let index = nextSessionId;
    nextSessionId++;
    let container = document.getElementById("sessions");
    container.innerHTML += `
                        <div class="server_settings_event" id="sessions[${index}]">
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <select id="sessions[${index}].sessionType" name="sessions[${index}].sessionType" class="mdl-textfield__input">
                                    <option selected value="P">Free Practice</option>
                                    <option value="Q">Qualification</option>
                                    <option value="R">Race</option>
                                </select>
                                <label class="mdl-textfield__label" for="sessions[${index}].sessionType">Session Type</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <input type="text" id="sessions[${index}].sessionDurationMinutes" name="sessions[${index}].sessionDurationMinutes" value="20" pattern="[0-9]+" class="mdl-textfield__input">
                                <label for="sessions[${index}].sessionDurationMinutes" class="mdl-textfield__label">Session Duration (minutes)</label>
                                <span class="mdl-textfield__error">Please enter a whole number of minutes</span>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                <select id="sessions[${index}].dayOfWeekend" name="sessions[${index}].dayOfWeekend" class="mdl-textfield__input">
                                    <option selected value="1">Friday</option>
                                    <option value="2">Saturday</option>
                                    <option value="3">Sunday</option>
                                </select>
                                <label class="mdl-textfield__label" for="sessions[${index}].dayOfWeekend">Day of Weekend</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty">
                                <div class="slider_with_value">
                                    <div class="slider_value_time" id="sessions[${index}].hourOfDay_value">13</div>
                                    <div class="slider_container">
                                        <input type="range" id="sessions[${index}].hourOfDay" name="sessions[${index}].hourOfDay" value="13" min="0" max="23" step="1" class="mdl-slider mdl-js-slider">
                                    </div>
                                </div>
                                <label for="sessions[${index}].hourOfDay" class="mdl-textfield__label">Hour of Day</label>
                            </div>
                            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty">
                                <div class="slider_with_value">
                                    <div class="slider_value" id="sessions[${index}].timeMultiplier_value">1</div>
                                    <div class="slider_container">
                                        <input type="range" id="sessions[${index}].timeMultiplier" name="sessions[${index}].timeMultiplier" value="1" min="0" max="24" step="1" class="mdl-slider mdl-js-slider">
                                    </div>
                                </div>
                                <label for="sessions[${index}].timeMultiplier" class="mdl-textfield__label">Time Multiplier</label>
                            </div>
                            <div class="server_settings_event_menu">
                                <button type="button" onclick="removeSession(${index})" class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
                                    <i class="material-icons">clear</i>
                                </button>
                            </div>
                        </div>
    `;
    linkSliderToValue(`sessions[${index}].hourOfDay`, `sessions[${index}].hourOfDay_value`, formatHour);
    componentHandler.upgradeDom();
}
</script>

{{template "footer.inc.html"}}
