{{$server := .}}
{{template "header.inc.html" (print "Admin - " .Cfg.Settings.ServerName)}}

<div class="mdl-grid">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--top">
        <form method="POST">
            <div class="mdl-card__title mdl-card--border">
                <h2 class="mdl-card__title-text mdl-typography--title">{{.Cfg.Settings.ServerName}} - Event Settings</h2>
            </div>
            <div class="mdl-card__supporting-text mdl-grid server_settings_body_with_columns">
                <div class="mdl-cell--6-col server_settings_column">
                <!-- <div class="mdl-grid">
                    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--top"> -->
                    <section>
                        <h5>Track</h5>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <select id="track" name="track" class="mdl-textfield__input">
{{$lastcomp_series := ""}}
{{$lastcomp_year := 0}}
{{range tracks}}
    {{if or (ne .Competition.Series $lastcomp_series) (ne .Competition.Year $lastcomp_year)}}
        {{if ne $lastcomp_year 0}}
                                </optgroup>
        {{end}}
                                <optgroup label="{{.Competition.Series}} ({{.Competition.Year}})">
        {{$lastcomp_series = .Competition.Series}}
        {{$lastcomp_year = .Competition.Year}}
    {{end}}
                                    <option {{if eq .Label $server.Cfg.Event.Track}}selected{{end}} value="{{.Label}}">{{.Name}} ({{.Competition.Year}})</option>
{{end}}
                                </optgroup>
                            </select>
                            <label class="mdl-textfield__label" for="track">Track</label>
                        </div>
                    </section>
                </div>
                <div class="mdl-cell--6-col server_settings_column">
                    <section>
                        <h5>Delays</h5>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input type="text" id="preRaceWaitingTimeSeconds" name="preRaceWaitingTimeSeconds" value="{{.Cfg.Event.PreRaceWaitingTimeSeconds}}" pattern="[0-9]+" class="mdl-textfield__input">
                            <label for="preRaceWaitingTimeSeconds" class="mdl-textfield__label">Pre-Race Waiting Time (seconds)</label>
                            <span class="mdl-textfield__error">Please enter a whole number of seconds</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input type="text" id="sessionOverTimeSeconds" name="sessionOverTimeSeconds" value="{{.Cfg.Event.SessionOverTimeSeconds}}" pattern="[0-9]+" class="mdl-textfield__input">
                            <label for="sessionOverTimeSeconds" class="mdl-textfield__label">Session Over Time (seconds)</label>
                            <span class="mdl-textfield__error">Please enter a whole number of seconds</span>
                        </div>
                        <!-- <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input type="text" id="postQualySeconds" name="postQualySeconds" value=".Cfg.Event.PostQualySeconds" pattern="[0-9]+" class="mdl-textfield__input">
                            <label for="postQualySeconds" class="mdl-textfield__label">Post Qualification Time (seconds)</label>
                            <span class="mdl-textfield__error">Please enter a whole number of seconds</span>
                        </div> -->
                        <!-- <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input type="text" id="sessionOverTimeSeconds" name="postRaceSeconds" value=".Cfg.Event.PostRaceSeconds" pattern="[0-9]+" class="mdl-textfield__input">
                            <label for="postRaceSeconds" class="mdl-textfield__label">Post Race Time (seconds)</label>
                            <span class="mdl-textfield__error">Please enter a whole number of seconds</span>
                        </div> -->
                    </section>
                    <section>
                        <h5>Weather</h5>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                            <input type="text" id="ambientTemp" name="ambientTemp" value="{{.Cfg.Event.AmbientTemp}}" pattern="[0-9]+" class="mdl-textfield__input">
                            <label for="ambientTemp" class="mdl-textfield__label">Ambient Temperature (&deg;C)</label>
                            <span class="mdl-textfield__error">Please enter a whole number of degrees</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty">
                            <div class="slider_with_value">
                                <div class="slider_value" id="cloudLevel_value">{{.Cfg.Event.CloudLevel}}</div>
                                <div class="slider_container">
                                    <input type="range" id="cloudLevel" name="cloudLevel" value="{{.Cfg.Event.CloudLevel}}" min="0" max="1" step="0.1" class="mdl-slider mdl-js-slider">
                                </div>
                            </div>
                            <label for="cloudLevel" class="mdl-textfield__label">Cloud Level</label>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty">
                            <div class="slider_with_value">
                                <div class="slider_value" id="rain_value">{{.Cfg.Event.Rain}}</div>
                                <div class="slider_container">
                                    <input type="range" id="rain" name="rain" value="{{.Cfg.Event.Rain}}" min="0" max="1" step="0.1" class="mdl-slider mdl-js-slider">
                                </div>
                            </div>
                            <label for="rain" class="mdl-textfield__label">Rain</label>
                            <span class="mdl-textfield__error">Please enter a value between 0 and 1</span>
                        </div>
                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-dirty">
                            <div class="slider_with_value">
                                <div class="slider_value" id="weatherRandomness_value">{{.Cfg.Event.WeatherRandomness}}</div>
                                <div class="slider_container">
                                    <input type="range" id="weatherRandomness" name="weatherRandomness" value="{{.Cfg.Event.WeatherRandomness}}" min="0" max="7" step="1" class="mdl-slider mdl-js-slider">
                                </div>
                            </div>
                            <label for="weatherRandomness" class="mdl-textfield__label">Weather Randomness</label>
                            <span class="mdl-textfield__error">Please enter a whole number between 0 and 7</span>
                        </div>
                    </section>
                </div>
            </div>
            <div class="mdl-card__actions mdl-card--border card_actions">
                <div class="card_actions_left">
                    <button type="submit" name="save" disabled class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Save
                    </button>
                </div>
                <div class="card_actions_spacer"></div>
                <div class="card_actions_right">
                    <button type="button" name="cancel" onclick="window.location.href='{{basePath}}/admin/server'" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                    Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script type="text/javascript">
function linkSliderToValue(slider_id, value_id, formatter = null)
{
    let slider = document.getElementById(slider_id);
    let value = document.getElementById(value_id);
    slider.addEventListener("input", function(e) {
        newValue = slider.value;
        if (formatter != null)
            newValue = formatter(newValue);
        value.innerHTML = newValue;
    });
}

function formatSingleDigit(value)
{
    return Number.parseFloat(value).toFixed(1);
}

linkSliderToValue('cloudLevel', 'cloudLevel_value', formatSingleDigit);
linkSliderToValue('rain', 'rain_value', formatSingleDigit);
linkSliderToValue('weatherRandomness', 'weatherRandomness_value');
</script>

{{template "footer.inc.html"}}
