<!DOCTYPE html>
{{template "header.inc.html" (print "Event at " .TrackName)}}
<h2>Sessions</h2>
<table>
 <tr>
  <th>Name</th>
  <th>Date / Time</th>
  <th>Track</th>
  <th>Session Type</th>
 </tr>
{{range .Sessions}}
 <tr>
  <td><a href="{{basePath}}/session/{{.SessionName}}">{{.SessionName}}</a></td>
  <td>{{.EndTime.Format "2006-01-02 15:04:05"}}</td>
  <td>{{.TrackName}}</td>
  <td>{{.SessionTypeString}}</td>
 </tr>
{{end}}
</table>

{{range $session := .Sessions}}
<h2>{{.SessionTypeString}}</h2>
    {{template "sessionleaderboard.inc.html" .}}
{{end}}

{{template "footer.inc.html"}}
