    </div>
    <footer class="mdl-mini-footer">
      <div class="mdl-mini-footer--right-section">
        <ul class="mdl-mini-footer--link-list">
          <li>Powered by <a href="https://github.com/GeniusDex/racce">racce</a></li>
        </ul>
      </div>
    </footer>
  </main>
</div>
</body>

<script type="text/javascript">
document.querySelectorAll('[data-href]').forEach(function(element) {
  element.addEventListener('click', function() {
    window.location.href = element.dataset.href;
  })
});
</script>

</html>
