{{$server := .Server}}
{{$state := $server.LiveState}}

{{template "header.inc.html" "Live"}}

<div class="mdl-grid">
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--top">
        <div class="mdl-card__title mdl-card--table__header">
            <h2 class="mdl-card__title-text mdl-typography--title" id="live_title">{{$server.Cfg.Settings.ServerName}}</h2>
        </div>
        <div class="mdl-card__supporting-text">
            <ul class="mdl-list server_status">
                <li class="mdl-list__item" data-serverstate="online">
                    <i class="material-icons mdl-list__item-icon server_running">play_arrow</i>
                    Online
                </li>
                <li class="mdl-list__item" data-serverstate="not_registered">
                    <i class="material-icons mdl-list__item-icon server_not_registered">play_arrow</i>
                    Online (Not Registered)
                </li>
                <li class="mdl-list__item" data-serverstate="starting">
                    <i class="material-icons mdl-list__item-icon server_starting">fast_forward</i>
                    Starting
                </li>
                <li class="mdl-list__item" data-serverstate="offline">
                    <i class="material-icons mdl-list__item-icon server_stopped">stop</i>
                    Offline
                </li>
                <li class="mdl-list__item" data-serverisrunning="true">
                    <i class="material-icons mdl-list__item-icon">people</i>
                    <span id="live_nrclients"></span>
                </li>
                <li class="mdl-list__item" data-serverisrunning="true">
                    <i class="material-icons mdl-list__item-icon">place</i>
                    <span id="live_track"></span>
                </li>
                <li class="mdl-list__item" data-serverisrunning="true">
                    <i class="material-icons mdl-list__item-icon">label_important</i>
                    <span id="live_session_type"></span><span id="live_session_phase"></span>
                </li>
            </ul>
        </div>
    </div>
    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col mdl-cell--top" data-serverisrunning="true">
        <div class="mdl-card__title mdl-card--table__header">
            <h2 class="mdl-card__title-text mdl-typography--title">Leaderboard</h2>
        </div>
        <table class="mdl-data-table mdl-js-data-table sessionleaderboard live_leaderboard" id="live_leaderboard">
            <thead>
                <tr>
                    <th>Pos</th>
                    <th colspan="2">Car</th>
                    <th class="mdl-data-table__cell--non-numeric">Driver</th>
                    <th>Interval</th>
                </tr>
            </thead>
            <tbody id="live_leaderboard_body">
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">
function hideElement(element)
{
    element.style.display = 'none';
}

function showElement(element)
{
    element.style.display = '';
}

function dataSelectorFor(key, value)
{
    if (value === undefined)
    {
        return '[data-' + key + ']';
    }
    else
    {
        return '[data-' + key + '=' + value + ']';
    }
}

function hideAll(key, value)
{
    document.querySelectorAll(dataSelectorFor(key, value)).forEach(hideElement);
}

function showAll(key, value)
{
    document.querySelectorAll(dataSelectorFor(key, value)).forEach(showElement);
}

function setServerState(state)
{
    hideAll('serverstate');
    hideAll('serverisrunning');

    showAll('serverstate', state);
    showAll('serverisrunning', (state == 'online' || state == 'not_registered') ? 'true' : 'false');
}

function setNrClients(nrClients)
{
    var plural = (nrClients == 1) ? '' : 's';
    document.getElementById('live_nrclients').innerText = `${nrClients} client${plural} online`;
}

function setTrack(track)
{
    document.getElementById('live_track').innerText = `${track.Name}`;
}

var g_sessionState = {Type: "Unknown", State: "unknown"};
function setSessionState(state)
{
    g_sessionState = state;

    document.getElementById('live_session_type').innerText = state.Type;

    var phase = "";
    if ((state.Phase != "session") && (state.Phase != "session overtime"))
    {
        phase = '(' + state.Phase + ')';
        if ((state.Phase == "singleFile") || (state.Phase == "doubleFile"))
            phase = "(formation)";
    }
    document.getElementById('live_session_phase').innerText = phase;
}

function formatTime(time_ms)
{
    var ms = time_ms % 1000;
    var time_s = (time_ms - ms) / 1000;
    var s = time_s % 60;
    var m = (time_s - s) / 60;

    return m.toString() + ':' + s.toString().padStart(2, '0') + '.' + ms.toString().padStart(3, '0');
}

function formatTimeDifference(time_ms)
{
    var ms = time_ms % 1000;
    var time_s = (time_ms - ms) / 1000;
    var s = time_s % 60;
    var m = (time_s - s) / 60;

    var prefix = '+ ';
    if (m > 0)
        prefix += m.toString() + ':' + s.toString().padStart(2, '0');
    else
        prefix += s.toString();
    return prefix + '.' + ms.toString().padStart(3, '0');
}

function formatIntervalFastestLap(entry, reference)
{
    if (entry.BestLapMS <= 0 || (reference !== null && reference.BestLapMS <= 0))
        return '-';
    
    if (reference === null)
        return formatTime(entry.BestLapMS);
    else
        return formatTimeDifference(entry.BestLapMS - reference.BestLapMS);
    
    var time_ms = entry.BestLapMS;
    if (reference !== null)
        time_ms = entry.BestLapMS - reference.BestLapMS;

    var ms = time_ms % 1000;
    var time_s = (time_ms - ms) / 1000;
    var s = time_s % 60;
    var m = (time_s - s) / 60;

    var prefix = (reference === null ? '' : '+ ');
    if (reference === null || m > 0)
        prefix += m.toString() + ':' + s.toString().padStart(2, '0');
    else
        prefix += s.toString();
    return prefix + '.' + ms.toString().padStart(3, '0');
}

function formatIntervalMostDistance(entry, previous)
{
    if (previous === null)
        return entry.NrLaps.toString() + ' laps';
    
    if (entry.NrLaps == 0)
        return '-';
    
    if (entry.NrLaps == previous.NrLaps)
        return formatTimeDifference(entry.LastLapTimestampMS - previous.LastLapTimestampMS);
    
    if (entry.NrLaps == previous.NrLaps - 1)
    {
        var previousLapTimestampMS = previous.LastLapTimestampMS - previous.LastLapMS;
        if (entry.LastLapTimestampMS > previousLapTimestampMS)
            return formatTimeDifference(entry.LastLapTimestampMS - previousLapTimestampMS)
    }

    return '+ ' + (previous.NrLaps - entry.NrLaps) + ' laps';
}

function formatInterval(entry, first, previous)
{
    if (g_sessionState.Type == "Race")
        return formatIntervalMostDistance(entry, previous);
    else
        return formatIntervalFastestLap(entry, first);
}

var g_leaderboardTable = document.getElementById("live_leaderboard");
var g_leaderboardTBody = document.getElementById("live_leaderboard_body");
var g_leaderboardCarRows = {};

function getTableEntryForCarID(carID, carState)
{
    if (g_leaderboardCarRows[carID] === undefined)
    {
        var row = g_leaderboardTable.insertRow(-1);
        entry = {
            state: carState,
            row: row,
            cellPosition: row.insertCell(0),
            cellCarLogo: row.insertCell(1),
            cellRaceNumber: row.insertCell(2),
            cellDriver: row.insertCell(3),
            cellInterval: row.insertCell(4),
        };
        entry.cellCarLogo.classList.add('carlogo');
        entry.cellRaceNumber.classList.add('racenumber');
        entry.cellDriver.classList.add('mdl-data-table__cell--non-numeric');
        g_leaderboardCarRows[carID] = entry
    }
    else
    {
        g_leaderboardCarRows[carID].state = carState;
    }
    return g_leaderboardCarRows[carID];
}

function sortLeaderboardTable()
{
    function cmpPositionFastestLap(a, b)
    {
        if (a.state.BestLapMS > 0)
        {
            if (b.state.BestLapMS > 0) // Both A and B have lap
                return a.state.BestLapMS - b.state.BestLapMS;
            else // A has lap, B has no lap
                return -1;
        }
        else if (b.state.BestLapMS > 0) // A has no lap, B has lap
            return 1
        else // Neither A nor B has lap
            return a.state.Position - b.state.Position;
    }

    function cmpPositionMostDistance(a, b)
    {
        if (a.state.NrLaps != b.state.NrLaps) {
            return b.state.NrLaps - a.state.NrLaps;
        }
        if (a.state.LastLapTimestampMS != b.state.LastLapTimestampMS) {
            return a.state.LastLapTimestampMS - b.state.LastLapTimestampMS;
        }
        return a.state.Position - b.state.Position;
    }

    var leader = null;
    var previous = null;

    Object.values(g_leaderboardCarRows)
        .sort(function(a, b)
        {
            if (g_sessionState.Type == "Race")
                return cmpPositionMostDistance(a, b);
            else
                return cmpPositionFastestLap(a, b);
        })
        .forEach(function(item, index)
        {
            item.cellPosition.innerText = (index + 1).toString() + '.';
            g_leaderboardTBody.appendChild(item.row)

            if (leader === null)
            {
                leader = item;
                item.cellInterval.innerText = formatInterval(item.state, null, null);
            }
            else
            {
                item.cellInterval.innerText = formatInterval(item.state, leader.state, previous.state);
            }
            previous = item;
        });
}

function setCarState(carState)
{
    var entry = getTableEntryForCarID(carState.CarID, carState);

    if (carState.Drivers === null || carState.Drivers.length == 0)
        entry.row.classList.add('car_without_current_drivers');
    else
        entry.row.classList.remove('car_without_current_drivers');

    entry.cellPosition.innerText = `${carState.Position}.`;

    while (entry.cellCarLogo.firstChild)
        entry.cellCarLogo.removeChild(entry.cellCarLogo.lastChild);
    var carLogo = document.createElement('img');
    carLogo.src = {{basePath}} + `/static/carlogo/${carState.CarModel.ManufacturerLabel}.png`;
    carLogo.title = `${carState.CarModel.Manufacturer} ${carState.CarModel.Model}`;
    entry.cellCarLogo.appendChild(carLogo);
    
    entry.cellRaceNumber.innerText = `${carState.RaceNumber}`;
    
    if (carState.CurrentDriver !== null)
        entry.cellDriver.innerText = `${carState.CurrentDriver.Name}`;
    else
        entry.cellDriver.innerText = '-';
    
    entry.cellInterval.innerText = formatInterval(carState, null, null);
    // console.log(carState);

    sortLeaderboardTable();
}

function purgeCar(carID)
{
    if (g_leaderboardCarRows[carID] !== undefined)
    {
        g_leaderboardTable.deleteRow(g_leaderboardCarRows[carID].row.rowIndex);
        delete g_leaderboardCarRows[carID];
    }
}

document.addEventListener('DOMContentLoaded', function()
{
    setServerState('{{$state.ServerState}}');
    setNrClients({{$state.NrClients}});
    setTrack({{$state.Track}});
    setSessionState({{$state.SessionState}});
    {{range (sortOn $state.CarState ".Position")}}
        setCarState({{.}});
    {{end}}
}, false);

function webSocketEndpoint()
{
    var protocol = ((window.location.protocol === "https:") ? "wss:" : "ws:");
    var wsslash = (window.location.pathname.substr(-1) == "/") ? "" : "/";
    return protocol + "//" + window.location.host + window.location.pathname + wsslash + "ws";
}

var g_webSocket = new WebSocket(webSocketEndpoint());

g_webSocket.addEventListener('error', function(event)
{
    console.log(event);
});

g_webSocket.addEventListener('close', function(event)
{
    console.log(event);
    document.getElementById("live_title").classList.add("live_socket_disconnected");
});

var messageHandlers = {};

g_webSocket.addEventListener('message', function(event)
{
    var messages = event.data.split('\n');
    for (var i = 0; i < messages.length; i++)
    {
        if (messages[i].length > 0)
        {
            var msg = JSON.parse(messages[i]);
            if ('type' in msg && 'data' in msg && msg.type in messageHandlers)
            {
                messageHandlers[msg.type](msg.data);
            }
            else
            {
                console.log('Ignoring unexpected message', msg);
            }
        }
    }
});

function newHandler(type, handler)
{
    messageHandlers[type] = handler;
}

newHandler('serverState', setServerState);
newHandler('nrClients', setNrClients);
newHandler('track', setTrack);
newHandler('sessionState', setSessionState);
newHandler('carState', setCarState);
newHandler('carPurged', purgeCar);
</script>


{{template "footer.inc.html"}}
