{{$db := .Database}}
{{$player := .Player}}
{{$name := $player.MostRecentName}}
<!DOCTYPE html>
<html>
<head>
<title>{{$name.FirstName}} {{$name.LastName}}</title>
</head>
<body>
<h1>{{$name.FirstName}} {{$name.LastName}}</h1>
<h2>Sessions</h2>
<table>
 <tr>
  <th>Name</th>
  <th>Date / Time</th>
  <th>Track</th>
  <th>Session Type</th>
 </tr>
{{range $db.SessionNamesSortedOnEndTime}}
    {{if contains $player.SessionNames .}}
        {{$session := index $db.Sessions .}}
 <tr>
  <td><a href="../session/{{.}}">{{.}}</a></td>
  <td>{{$session.EndTime.Format "2006-01-02 15:04:05"}}</td>
  <td>{{$session.TrackName}}</td>
  <td>{{$session.SessionTypeString}}</td>
 </tr>
    {{end}}
{{end}}
</table>

</body>
</html>
