{{$db := .Database}}
{{$player := .Player}}
{{$name := $player.MostRecentName}}

{{template "header.inc.html" (print $name.FirstName " " $name.LastName)}}

<div class="mdl-grid">
<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col">
  <div class="mdl-card__title mdl-card--table__header">
    <h2 class="mdl-card__title-text mdl-typography--title">Events</h2>
  </div>
  <div class="mdl-card__table">
    <table class="mdl-data-table mdl-js-data-table">
      <thead>
        <tr>
          <th class="mdl-data-table__cell--non-numeric">Date / Time</th>
          <th class="mdl-data-table__cell--non-numeric">Track</th>
          <th class="mdl-data-table__cell--non-numeric">Sessions</th>
        </tr>
      </thead>
      <tbody>
{{range reverse (sortOn $player.Events ".EndTime")}}
<!--{range $index, $event := $player.Events}-->
        <tr>
          <td class="mdl-data-table__cell--non-numeric"><a href="{{basePath}}/event/{{.EventId}}">{{.EndTime.Format "2006-01-02 15:04:05"}}</a></td>
          <td class="mdl-data-table__cell--non-numeric">{{.TrackName}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{range .Sessions}}{{if ne .SessionIndex 0}}, {{end}}{{.SessionType}}{{end}}</td>
        </tr>
{{end}}
      </tbody>
    </table>
  </div>
</div>
</div>

{{template "footer.inc.html"}}
