{{$session := .}}
{{template "header.inc.html" (print .SessionTypeString " at " (track .TrackName).Name)}}

<div class="mdl-grid">

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
  <div class="mdl-card__title mdl-card--table__header">
    <h2 class="mdl-card__title-text mdl-typography--title">Leader Board</h2>
  </div>
  <div class="mdl-card__table">
    {{template "sessionleaderboard.inc.html" .}}
  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
  <div class="mdl-card__title mdl-card--table__header">
    <h2 class="mdl-card__title-text mdl-typography--title">Car positions per lap</h2>
  </div>
  <div class="mdl-card__supporting-text laptimes_chart_container">
    <canvas id="carPositionsPerLapChart" width="400" height="{{add 50 (mul 10 (len .SessionResult.CarPositionsPerLap))}}"></canvas>
  </div>
</div>

<script>
function generate(base) {
    var x = Math.sin(base) * 10000;
    return x - Math.floor(x);
}
function getCarPositionColor(carId)
{
    var h = generate(carId) * 360;
    var s = 50 + generate(1000 + carId) * 50;
    var l = 25 + generate(2000 + carId) * 50;
    return 'hsl(' + h + ', ' + s + '%, ' + l + '%)';
}

var ctx = document.getElementById('carPositionsPerLapChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line',
    data: {
        labels: [{{range $index, $pos := index .SessionResult.CarPositionsPerLap (index .SessionResult.LeaderBoardLines 0).Car.CarId}}{{add $index 1}}, {{end}}],
        datasets: [
{{range sortOn .SessionResult.LeaderBoardLines ".Car.RaceNumber"}}
  {{$carId := .Car.CarId}}
  {{if contains (keys $session.SessionResult.CarPositionsPerLap) $carId}}
    {{$positions := index $session.SessionResult.CarPositionsPerLap $carId}}
    {{$car := $session.FindCarById $carId}}
        {
            label: 'Car {{$car.RaceNumber}}: {{range $i,$j := $car.Drivers}}{{if ne $i 0}}, {{end}}{{.FirstName}} {{.LastName}}{{end}}',
            backgroundColor: getCarPositionColor({{$carId}}),
            borderColor: getCarPositionColor({{$carId}}),
            borderWidth: 2,
            hoverBorderColor: 'black',
            hoverBorderWidth: 2,
            fill: false,
            lineTension: 0,
            data: [{{range $positions}}{{.}}, {{end}}],
        },
  {{end}}
{{end}}
        ]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    autoSkip: false,
                    stepSize: 1,
                    reverse: true,
                }
            }]
        },
        legend: {
            position: 'left',
        },
        hover: {
            mode: 'dataset',
        },
        tooltips: {
            mode: 'index',
            itemSort: function(a, b) {
                return a.value - b.value;
            },
            callbacks: {
                title: function(tooltipItems, data) {
                    return 'Lap ' + tooltipItems[0].label;
                },
                label: function(tooltipItem, data) {
                    return 'P' + tooltipItem.yLabel + ' - ' + data.datasets[tooltipItem.datasetIndex].label;
                },
            },
        },
    }
});
</script>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col">
  <div class="mdl-card__title mdl-card--table__header">
    <h2 class="mdl-card__title-text mdl-typography--title">Penalties</h2>
  </div>
  <div class="mdl-card__table">
    <table class="mdl-data-table mdl-js-data-table">
      <thead>
        <tr>
          <th>Car</th>
          <th class="mdl-data-table__cell--non-numeric">Driver</th>
          <th class="mdl-data-table__cell--non-numeric">Violation</th>
          <th>In lap</th>
          <th class="mdl-data-table__cell--non-numeric">Penalty</th>
          <th>Cleared in lap</th>
        </tr>
      </thead>
      <tbody>
{{range .Penalties}}
    {{$car := $session.FindCarById .CarId}}
    {{$driver := index $car.Drivers .DriverIndex}}
        <tr>
          <td>{{$car.RaceNumber}}</td>
          <td class="mdl-data-table__cell--non-numeric"><a href="{{basePath}}/player/{{$driver.PlayerId}}">{{$driver.FirstName}} {{$driver.LastName}}</a></td>
          <td class="mdl-data-table__cell--non-numeric">{{.Reason}}</td>
          <td>{{.ViolationInLap}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{.Penalty}}</td>
          <td>{{.ClearedInLap}}</td>
        </tr>
{{end}}
      </tbody>
    </table>
  </div>
</div>
<div class="mdl-cell mdl-cell--6-col"></div>

</div>

{{template "footer.inc.html"}}
