{{$session := .Session}}
{{$car := .Car}}
{{template "header.inc.html" (print $session.SessionTypeString " at " (track $session.TrackName).Name " - Car " $car.RaceNumber)}}

<div class="mdl-grid">

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col car_card">
  <!-- <div class="mdl-card__title">
    <h2 class="mdl-card__title-text mdl-typography--title">Car</h2>
  </div> -->
  {{$carmodel := carmodel .Car.CarModel}}
  <div class="mdl-card__supporting-text">
    <img src="{{basePath}}/static/carlogo/{{$carmodel.ManufacturerLabel}}.png" class="carlogo">
    <p class="carmodel">{{$carmodel.Manufacturer}} {{$carmodel.Model}}</p>
    <p class="cargroup">{{$carmodel.Group}}</p>
  </div>
</div>

<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--6-col drivers_card">
  <!-- <div class="mdl-card__title">
    <h2 class="mdl-card__title-text mdl-typography--title">Drivers</h2>
  </div> -->
  <div class="mdl-card__list">
    <ul class="mdl-list drivers_list">
    {{range .Car.Drivers}}
      <li class="mdl-list__item">
        <span class="mdl-list__item-primary-content">
          <i class="material-icons mdl-list__item-icon">person</i>
          <a href="{{basePath}}/player/{{.PlayerId}}">{{.FirstName}} {{.LastName}}</a>
        </span>
      </li>
    {{end}}
    </ul>
  </div>
</div>

<!-- <div class="mdl-cell mdl-cell--8-col"></div> -->

{{$sessiontype_class := "sessiontype_unknown"}}
{{if eq $session.SessionType "FP"}}
  {{$sessiontype_class = "sessiontype_practice"}}
{{else if eq $session.SessionType "Q"}}
  {{$sessiontype_class = "sessiontype_qualifying"}}
{{else if eq $session.SessionType "R"}}
  {{$sessiontype_class = "sessiontype_race"}}
{{end}}
<div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col">
  <div class="mdl-card__title mdl-card--table__header">
    <h2 class="mdl-card__title-text mdl-typography--title">Lap times</h2>
  </div>
  <div class="mdl-card__table">
    <table class="mdl-data-table mdl-js-data-table laptimes {{$sessiontype_class}}">
      <thead>
        <tr>
          <th>Lap</th>
          <th class="mdl-data-table__cell--non-numeric">Driver</th>
          <th>Laptime</th>
          <th>Sector 1</th>
          <th>Sector 2</th>
          <th>Sector 3</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
{{$timing := (index (filterEq $session.SessionResult.LeaderBoardLines ".Car.CarId" $car.CarId) 0).Timing}}
{{$lapnr := 0}}
{{range $lap := $session.Laps}}
    {{if eq .CarId $car.CarId}}
        {{$lapnr = add $lapnr 1}}
        {{$driver := index $car.Drivers .DriverIndex}}
        <tr class="{{if .IsValidForBest}}validlap{{else}}invalidlap{{end}}">
          <td>{{$lapnr}}</td>
          <td class="mdl-data-table__cell--non-numeric">{{$driver.FirstName}} {{$driver.LastName}}</td>
          <td{{if and .IsValidForBest (eq .Laptime $session.SessionResult.BestLap)}} class="laptimes_sessionbest"{{else if and .IsValidForBest (eq .Laptime $timing.BestLap)}} class="laptimes_personalbest"{{end}}>
              {{laptime .Laptime}}
          </td>
          <td{{if and .IsValidForBest (eq (index .Splits 0) (index $session.SessionResult.BestSplits 0))}} class="laptimes_sessionbest"{{else if and .IsValidForBest (eq (index .Splits 0) (index $timing.BestSplits 0))}} class="laptimes_personalbest"{{end}}>
              {{laptime (index .Splits 0)}}
          </td>
          <td{{if and .IsValidForBest (eq (index .Splits 1) (index $session.SessionResult.BestSplits 1))}} class="laptimes_sessionbest"{{else if and .IsValidForBest (eq (index .Splits 1) (index $timing.BestSplits 1))}} class="laptimes_personalbest"{{end}}>
              {{laptime (index .Splits 1)}}
          </td>
          <td{{if and .IsValidForBest (eq (index .Splits 2) (index $session.SessionResult.BestSplits 2))}} class="laptimes_sessionbest"{{else if and .IsValidForBest (eq (index .Splits 2) (index $timing.BestSplits 2))}} class="laptimes_personalbest"{{end}}>
              {{laptime (index .Splits 2)}}
          </td>
          <td>
            {{if eq $session.SessionType "R"}}
              {{if not .IsValidForBest}}<i class="material-icons mdl-list__item-icon invalidlap" title="Pit entry/exit">handyman</i>{{else}}{{end}}
            {{else}}
              {{if not .IsValidForBest}}<i class="material-icons mdl-list__item-icon invalidlap" title="Invalid lap">error</i>{{else}}{{end}}
            {{end}}
          </td>
        </tr>
    {{end}}
{{end}}
      </tbody>
    </table>
  </div>
  <div class="mdl-card__supporting-text laptimes_chart_container">
    <canvas id="lapTimesChart" width="400" height="150"></canvas>
  </div>
</div>

<script>
var ctx = document.getElementById('lapTimesChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: [{{$lapnr := 0}}{{range $session.Laps}}{{if eq .CarId $car.CarId}}{{$lapnr = add $lapnr 1}}{{$lapnr}}, {{end}}{{end}}],
        datasets: [{
        //     label: 'Lap',
        //     backgroundColor: 'rgba(1, 51, 112, 1)',
        //     borderColor: 'rgba(1, 51, 112, 1)',
        //     borderWidth: 2,
        //     fill: false,
        //     data: [{{range $session.Laps}}{{if eq .CarId $car.CarId}}{{div .Laptime 1000}}, {{end}}{{end}}],
        // },
        // {
            label: 'Sector 1',
            backgroundColor: 'rgba(223, 0, 0, 1)',
            borderColor: 'rgba(223, 0, 0, 1)',
            borderWidth: 2,
            fill: false,
            data: [{{range $session.Laps}}{{if eq .CarId $car.CarId}}{{div (index .Splits 0) 1000}}, {{end}}{{end}}],
        },
        {
            label: 'Sector 2',
            backgroundColor: 'rgba(0, 223, 0, 1)',
            borderColor: 'rgba(0, 223, 0, 1)',
            borderWidth: 2,
            fill: false,
            data: [{{range $session.Laps}}{{if eq .CarId $car.CarId}}{{div (index .Splits 1) 1000}}, {{end}}{{end}}],
        },
        {
            label: 'Sector 3',
            backgroundColor: 'rgba(0, 0, 255, 1)',
            borderColor: 'rgba(0, 0, 255, 1)',
            borderWidth: 2,
            fill: false,
            data: [{{range $session.Laps}}{{if eq .CarId $car.CarId}}{{div (index .Splits 2) 1000}}, {{end}}{{end}}],
        }]
    },
    options: {
        scales: {
            xAxes: [{
                stacked: true,
            }],
            yAxes: [{
                ticks: {
                    beginAtZero: true,
                },
                stacked: true,
            }],
        }
    }
});
</script>

{{template "footer.inc.html"}}
