{{$session := .}}
<table class="mdl-data-table mdl-js-data-table sessionleaderboard">
  <thead>
    <tr>
      <th>Pos</th>
      <th colspan="2">Car</th>
      <th class="mdl-data-table__cell--non-numeric">Driver</th>
      <th>Laps</th>
      <th>Total time</th>
      <th>Best lap</th>
      <th>Best Sector 1</th>
      <th>Best Sector 2</th>
      <th>Best Sector 3</th>
    </tr>
  </thead>
  <tbody>
{{range $index, $line := .SessionResult.LeaderBoardLines}}
    <tr data-href="{{basePath}}/sessioncar/{{$session.SessionName}}/{{.Car.CarId}}">
      <td>{{add $index 1}}.</td>
      {{$cupcat := cupcategory .Car.CupCategory}}
      {{$carmodel := carmodel .Car.CarModel}}
      <td class="carlogo"><img src="{{basePath}}/static/carlogo/{{$carmodel.ManufacturerLabel}}.png" title="{{$carmodel.Manufacturer}} {{$carmodel.Model}}"></td>
      <td class="racenumber {{$carmodel.Group}} {{$cupcat.Name}}"><a href="{{basePath}}/sessioncar/{{$session.SessionName}}/{{.Car.CarId}}">{{.Car.RaceNumber}}</a></td>
      <!-- <td class="mdl-data-table__cell--non-numeric"><a href="{{basePath}}/player/{{.CurrentDriver.PlayerId}}">{{.CurrentDriver.FirstName}} {{.CurrentDriver.LastName}}</a></td> -->
      <td class="mdl-data-table__cell--non-numeric">
  {{range $driver_index, $driver := .Car.Drivers}}
    {{if gt $driver_index 0}} / {{end}}
        <a href="{{basePath}}/player/{{$driver.PlayerId}}">{{if and (gt (len $line.Car.Drivers) 1) (gt (len $driver.FirstName) 0)}}{{slice $driver.FirstName 0 1}}.{{else}}{{$driver.FirstName}}{{end}} {{$driver.LastName}}</a>
  {{end}}
      </td>
      <td>{{.Timing.LapCount}}</td>
      <td>{{if gt .Timing.LapCount 0}}{{laptime .Timing.TotalTime}}{{else}}-{{end}}</td>
      <td{{if eq .Timing.BestLap $session.SessionResult.BestLap}} class="leaderboard_bestlap"{{end}}>
        {{if lt .Timing.BestLap 2147483647}}{{laptime .Timing.BestLap}}{{else}}-{{end}}
      </td>
      <td{{if eq (index .Timing.BestSplits 0) (index $session.SessionResult.BestSplits 0)}} class="leaderboard_bestsplit"{{end}}>
        {{if lt .Timing.BestLap 2147483647}}{{laptime (index .Timing.BestSplits 0)}}{{else}}-{{end}}
      </td>
      <td{{if eq (index .Timing.BestSplits 1) (index $session.SessionResult.BestSplits 1)}} class="leaderboard_bestsplit"{{end}}>
        {{if lt .Timing.BestLap 2147483647}}{{laptime (index .Timing.BestSplits 1)}}{{else}}-{{end}}
      </td>
      <td{{if eq (index .Timing.BestSplits 2) (index $session.SessionResult.BestSplits 2)}} class="leaderboard_bestsplit"{{end}}>
        {{if lt .Timing.BestLap 2147483647}}{{laptime (index .Timing.BestSplits 2)}}{{else}}-{{end}}
      </td>
    </tr>
  </tbody>
{{end}}
</table>
